*{
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    color: #000;
    background-color: #C6CCB2;
}

/* Saltear a contenido principal */
.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow-x: hidden;
}

.skip:focus {
    position: static;
    width: auto;
    height: auto;
}

/* Text Sizes */
h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

a {
    color: white;
}

.medium-text {
    font-size: 30px;
    margin: 5px 0px;
}

/*Todo header*/

#dropdown-nav-btn,
#close-btn {
    display: none;
}

#dropdown-nav-btn,
#close-btn {
    position: absolute;
    top: 3px;
    left: 90%;
    width: 30px;
    padding: 0px 10px;
    text-align: center;
}
#dropdown-nav-btn {
    display: none;
    color: #060E0A;
    border: none;
    font-size: 1.625em;
}
#dropdown-nav-btn:hover {
    cursor: pointer;
}
#close-btn {
    color: #060E0A;
    font-size: 2em;
}
#close-btn:hover {
    cursor: pointer;
}



header {
    padding: 20px;
    text-align: center;
    background: #37815E;
    color: #FFF;
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}


.profile {
    height: auto;
    width: 150px;
    border-radius: 50%;
}

.spacing {
    padding-left: 20px;
    padding-right: 20px;
}

.social-media {
    display: inline-block;
    width: 100%;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 40px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
}

.fa:hover {
    background-color: rgb(42, 65, 107);
}

.fa-linkedin,
.fa-facebook {
    display:inline-block;
    font-size: 40px;
    line-height: 40px;
    background-color:#345088;
    color:white;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: bottom;
}

.side_nav{
    text-align: left;
}

ul {
    list-style-type: none;
}

.telefono-button,
.mail-button {
    background-color: #e9e9e9;
    color: black;
    border-radius: 5px;
    border: #060E0A solid 3px;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    width: 80%;
}

.whatsapp {
    height: auto;
    width: 10%;
}

/*Todo Main*/

#main {
    margin-left: 350px;
    margin-top: 40px;
    margin-right: 50px;
    margin-bottom: 40px;
    max-width: 100%;
}

.cursos,
.conocimientos-class,
.contenedor-a {
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 5px;
}

/* Boton Cursos */
.collapsible {
    background-color: #e9e9e9;
    color: #000000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: solid 5px #2B6449;
    border-radius: 5px;
    text-align: left;
    outline: none;
    font-size: 20px;
    font-weight: 500;
}

.active, .collapsible:hover {
    background-color: #2B6449;
    color: #fff;
}

/* Contenido Colapsado*/
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #e9e9e9;
    border-radius: 0px 0px 5px 5px;
    border: solid 5px #2B6449;
    border-top: none;
    margin: 0px 10px;
    color: #000000;
}

.img-perfil {
    height: auto;
    width: 100%;
    border-radius: 5%;
    border: #2B6449 solid 5px;
}

.educacion {
    margin: 40px;
}

.spacing-edu {
    margin: 40px;
}

.edu-formal {
    background-color: #e9e9e9;
    border: solid 10px #2B6449;
    color: #000;
    margin: 5px;
    border-radius: 5%;
}

.exp-laboral {
    margin: 0px 40px;
}

/*animacion de imagenes Conocimientos*/
.tile {
    height:200px;
    -webkit-transition-delay: .9s;
    -o-transition-delay: .9s;
    transition-delay: .9s;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    opacity: 0;
}
.bottom-right.inView {
    opacity: 1;
    
}
.inView {
    opacity: 1;
}
section {
    padding:20px;
}

/* Fin de animacion de imagenes Conocimiento */

.contacto {
    margin: 40px;
}

.img {
    width: 100%;
}

input[type=text], select {
    width: 100%;
}

/* Estilo de boton enviar */
input[type=submit] {
    background-color: #e9e9e9;
    color: #000;
    padding: 12px 20px;
    border: #2B6449 solid 3px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
}

input[type=submit]:hover {
    background-color: #2B6449;
    color: #FFFFFF;
}

/* Todo Footer */
footer {
    margin-left: 350px;
    margin-right: 50px;
}

